/* 1行目 */

.post-all {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 4px;
}

.first-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  height: 20px;
}

.first-show-left {
  display: flex;
}

.post-title-btn {
  text-decoration: none;
}

.post-time {
  margin-left: 10px;
  color: slategray;
}

.bar-btn {
  border: none;
  margin-right: 25px;
}

.bar-btn:hover {
  cursor: pointer;
}

.bar-contents {
  position: absolute;
  display: none;
  background-color: white;
  z-index: 2;
}

.bar-list {
  width: 50px;
  text-align: center;
  border: 1px solid #aaa;
}

.list-btn {
  font-size: 16px;
  text-decoration: none;
  z-index: 2;
}

/*/1行目*/


/*2,3行目*/

.post-show {
  display: flex;
  justify-content: space-around;
}

.main-show1 {
  width: 50%;
}

.main-show2 {
  width: 690px;
}

.second-show {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2px;
}

.distance-show {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.distance-unit-show {
  font-size: 18px;
  margin-left: 10px;
}

.content-show {
  margin-bottom: 10px;
}

/*画像投稿部*/
.post-image {
  width: 50%;
  text-align: center;
}
/*/画像投稿部*/

/*2,3行目*/


/*最終行*/

.bottom-show {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: slategray;
}

.bottom-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.like-count {
  margin-right: 5px;
}

.like-btn {
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
}

.bottom-right {
  margin-right: 10px;
}

.show-page-btn {
  text-decoration: none;
  color: slategray;
  margin-right: 5px;
}

.post-user {
  text-decoration: none;
  color: slategray;
}

/*/最終行*/


/*article2*/

.post-image-show {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-image2 {
  text-align: center;
}

.show-link {
  margin-left: 10px;
  text-decoration: none;
}

.show-link-image {
  padding-top: 4px;
  font-size: 12px;
  text-decoration: none;
}
/*/article2*/


/*レスポンシブ対応*/
@media (min-width: 992px) {
  .post-all, .bottom-show {
    width: 700px;
  }
  .post-image2 {
    width: 450px;
    margin: 0 auto 30px;
  }
  .post-image-show {
    width: 450px;
  }
}

@media (max-width: 992px) {
  .post-all, .bottom-show {
    width: 470px;
  }
  .post-image2 {
    width: 450px;
    margin-bottom: 30px;
  }
  .post-image-show {
    width: 450px;
  }
}

@media (max-width: 499px) {
  .post-all, .bottom-show {
    width: 95%;
  }
  .post-image2 {
    width: 350px;
    margin-bottom: 30px;
  }
  .post-image-show {
    width: 350px;
  }
}

/*レスポンシブ対応*/