/*コメントフォーム*/

.comment-form {
  margin-bottom: 16px;
}
.comment-input {
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
  width:  100%;
  height: 100px;
  font-size: 16px;
}
.comment-btn {
  text-align: center;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
}

/*コメントフォーム*/

/*コメント一覧*/
.comment-lists-label {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.comment-show {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.comment-show-name {
  font-size: 14px;
}
.comment-user {
  color: slategray;
  text-decoration: none;
}

/*/コメント一覧*/

/*--------------------------------------*/

/*レスポンシブデザイン*/

@media (min-width: 992px) {
  .comment-form, .comment-lists {
    width: 700px;
  }
  .comment-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .comment-text{
    width: 600px;
  }
  .comment-btn {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .comment-form, .comment-lists, .comment-text {
    width: 450px;
  }
  .comment-btn-form {
    text-align: center;
  }
}

/*レスポンシブデザイン*/