.main-page {
  background-color: #f5f5f5;
}

.search-form {
  margin-left: 20px;
  margin-top: 20px;
}

.post-list {
  padding: 16px 16px 8px;
}

.post-sort {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

.sort-label {
  margin-right: 10px;
}

.sort-list {
  text-decoration: none;
  margin-left: 5px;
}

@media (max-width: 575px) {
  .search-list {
    padding-left: 40px;
  }
}

@media (max-width: 499px) {
  .search-list {
    padding-left: 0;
  }
}