.main-page {
  background-color: #f5f5f5;
  display: flex;
  height: 100%;
}

.search-list {
  width: 30%;
}

.search-form {
  margin-left: 20px;
  margin-top: 20px;
}

.post-list {
  width: 70%;
  padding: 16px 16px 8px;
}