.post-page {
  background-color: #f5f5f5;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-main {
  padding: 5vh 15vw;
}

@media (min-width: 992px) {
  .post-main {
    padding-top: 120px;
  }
}