<%= render "/shared/header"%>

<div class="container-fluid post-page">
  <div class="row">
    <div class="col-lg-11 offset-lg-1 col-12 post-main">
      <%= render partial: 'post', locals: {article: @article} %>
    </div>
  </div>
</div>

<%= render "/shared/footer"%>