<%= render "/shared/header"%>

<div class="container-fluid show-main">
  <div class="row">
    <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 offset-sm-1">
      <div class="show-post">
        <%= render partial: "articles/article2", locals: {article: @article}%>
      </div>
      <div class="comment-post">
        <%= render partial: "articles/comment", locals: {article: @article, comment: @comment} %>
      </div>
    </div>
  </div>
</div>

<%= render "/shared/footer"%>