* {
  box-sizing: border-box;
}

.app-logo {
  width: 100px;
  height: 100px;
  text-align: left;
}

.header-site-name {
  text-align: center;
}

.header-site-title {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
  font-size: 28px;
}

.header-site-title:hover {
  color: #333333;
}

.header-site-subtitle {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}

.header-site-subtitle:hover {
  color: #333333;
}

.header-right {
  text-align: center;
}

.right-top {
  margin-bottom: 5px;
}

.right-bottom {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.new-post {
  background-color: royalblue;
  color: white;
  border-radius: 10px;
  padding: 6px;
  text-decoration: none;
  margin-right: 10px;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 2vw;
  color: #333333;
}

.guest-login {
  text-decoration: none;
  color: #333333;
}

@media (min-width: 992px) {
  .header-main {
    position: fixed;
    height: 100px;
    background-color: white;
  }
}