<%= render "/shared/header"%>

<div class="mypage">
  <div class="mypage-search">検索</div>
  <div class="mypage-post">
    <p class="mypage-name"><b><%= @user.nickname %></b>さんの投稿一覧</p>
    <% @articles.each do |article| %>
      <%= render partial: "/articles/article", locals: {article: article}%>
    <% end %>
  </div>
</div>

<%= render "/shared/footer"%>