<% if model.errors.any? %>
<div class="error-alert">
  <%# lg以上表示 %>
  <div class="d-lg-block d-none">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message1'><%= message %></li>
      <% end %>
    </ul>
  </div>
  <%#/ lg以上表示 %>
  
  <%# lg以下表示 %>
  <div class="d-lg-none" >
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message2'><%= message %></li>
      <% end %>
    </ul>
  </div>
  <%#/ lg以下表示 %>
</div>
<% end %>